html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}
header {
 height: 10vh;
 width: 100vw;
 text-align: center;
 justify-content: center;
 color: #6b0f9c;
 /* Code below was from StackOverFlow  */
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

text-transform: uppercase;
font-family: "Amatic SC", cursive;
text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
font-size: 2em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.panels {
  min-height: 90vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* This will be a nested flexbox */
  display: flex;
  flex-direction: column;
}

.panel1 {
  background-image: url(images/abhi-verma-l-InUUOsd0M-unsplash.jpg);
}
.panel2 {
  background-image: url(images/brent-cox-lRM-J3q2Z3k-unsplash.jpg);
}
.panel3 {
  background-image: url(images/brent-cox-Q0CH8WkF9zI-unsplash.jpg);
}
.panel4 {
  background-image: url(images/jeremy-bishop-gmaA-m7efwc-unsplash.jpg);
}
.panel5 {
  background-image: url(images/lauren-macneish-QZAPkKZStOA-unsplash.jpg);
}

/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  /* This setups up the grid formation of the words */
  flex: 1 0 auto; /* What does this do?  */
  justify-content: center;
  align-items: center;
}
/* setting translatey of +/-100% will reposition the first and last child off screeen */
.panel > *:first-child {
  transform: translatey(-100%);
}
/* setting translatey back to zero will reposition the text back to their original place */
.panel.open-active > *:first-child {
  transform: translatey(0%);
}
.panel > *:last-child {
  transform: translatey(100%);
}
.panel.open-active > *:last-child {
  transform: translatey(0%);
}
/*  */
.panel p {
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
    /* although flex:1 already exist and the images already take up an even amount of space
    when the image is clicked we want to make the container take up 5 times more space than
    the rest
     */
  flex: 5;
  font-size: 40px;
}
